.v2
  width: 100%
  height: auto
  background-color: violet

.spacer
  text-align: center
  min-height: 100px
  .s0
    height: 1px
  .s1
    min-height: 100px
  .s2
    min-height: 200px
  .s3
    min-height: 300px
  .s4
    min-height: 400px
  .s5
    min-height: 500px
  .s6
    min-height: 600px
  .s7
    min-height: 700px
  .s8
    min-height: 800px
  .s9
    min-height: 900px
  .s10
    min-height: 1000px

.circle
  display: block
  position: relative
  font-size: 80px
  font-family: 'Open Sans'
  font-weight: 300
  background-color: violet
  border-radius: 50px
  border-style: dashed
  border-width: 1px
  border-color: white
  color: white
  text-align: center
  vertical-align: middle
  width: 100px
  height: 100px
  margin: 0 auto
