<!doctype html>
<html>

  <head>
    <title>Css magic</title>
    <%= stylesheet_link_tag 'site' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
