<div class="all-bm-container">

  <div class="bm-container">
    <div class="fly-bm-page-top"></div>
    <div class="fly-bm-page-mid"></div>
    <div class="fly-bm-page-mid-bottom"></div>
    <div class="fly-bm-page-bottom"></div>
    <div class="fly-bm-page-bottom2"></div>
    <div class="fly-bm-page-bottom3"></div>
  <div>

<div>
