<div class="all-b-container">
  <div class="preview-fly-b-container">
    <div class="fly-b-page-top"></div>
    <div class="fly-b-page-mid"></div>
    <div class="fly-b-page-mid-bottom"></div>
    <div class="fly-b-page-bottom"></div>
  </div>

  <div class="preview-fly-b-container">
    <div class="fly-b-page-top"></div>
    <div class="fly-b-page-mid"></div>
    <div class="fly-b-page-mid-bottom"></div>
    <div class="fly-b-page-bottom"></div>
  </div>

  <div class="preview-fly-b-container">
    <div class="fly-b-page-top"></div>
    <div class="fly-b-page-mid"></div>
    <div class="fly-b-page-mid-bottom"></div>
    <div class="fly-b-page-bottom"></div>
  </div>

  <div class="preview-fly-b-container">
    <div class="fly-b-page-top"></div>
    <div class="fly-b-page-mid"></div>
    <div class="fly-b-page-mid-bottom"></div>
    <div class="fly-b-page-bottom"></div>
  </div>

  <div class="preview-fly-b-container">
    <div class="fly-b-page-top"></div>
    <div class="fly-b-page-mid"></div>
    <div class="fly-b-page-mid-bottom"></div>
    <div class="fly-b-page-bottom"></div>
  </div>

  <div class="preview-fly-b-container">
    <div class="fly-b-page-top"></div>
    <div class="fly-b-page-mid"></div>
    <div class="fly-b-page-mid-bottom"></div>
    <div class="fly-b-page-bottom"></div>
  </div>

<div>
