---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400i|Gentium+Basic:400i|Martel|Mate:400i|Neuton|Noticia+Text|Volkhov:400i" rel="stylesheet">
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
