<!doctype html>
<html>

  <head></head>

  <body>
    <div class="site-container">
      <div class="site-menu">
        <div class="menu-items-container">
          <a><div class="menu-item">Directory Structure</div></a>
          <a><div class="menu-item">Start a New Site</div></a>
          <a><div class="menu-item">Development Cycle</div></a>
          <a><div class="menu-item">Build and Deploy</div></a>
          <a><div class="menu-item">Helper Methods</div></a>
          </div>
      </div>
      <a><div class="test-button">Magic</div></a>

      <div class="header">Header</div>

      <div class="main-area">
        <a class='main-area-btn'>Main Area</a>
      </div>

      <div class="footer">Footer</div>

    </div>
  </body>

</html>
