<div class="all-sections-both">
  <div class="site-section-both">

    <div class="scroll-example">
        <div class="top-block-slide-out"></div>
        <div id="animate1" class="text-block">
          <p>A mudança e transição são o núcleo da condição humana.</p>
        </div>
        <div id="animate2" class="circle-arrow">
          <div class="left-arrow-line"></div>
          <div class="right-arrow-line"></div>
        </div>
        <div id="trigger-element-slide-out"></div>
        <div class="bottom-block-slide-out"></div>
    </div>

  </div>
    <div class="progress-bar-container-both">
      <div id="target-bar-both" class="progress-bar-both"></div>
    </div>
</div>
