<div class="v2">
  <div class="spacer s0"></div>
  <div class="spacer s1"></div>
  <div class="spacer s2"></div>
  <div id="target" class="circle">
	  <p>.</p>
  </div>
  <div class="spacer s3"></div>
  <div class="spacer s4"></div>
  <div id="trigger" class="spacer s0"></div>
  <div class="spacer s5"></div>
  <div class="spacer s6"></div>
  <div class="spacer s7"></div>
  <div class="spacer s8"></div>
  <div class="spacer s9"></div>
  <div class="spacer s10"></div>
<div>
