<div class="scroll-example">
    <div class="spacer s0"></div>
    <div class="spacer s1"></div>
    <div class="spacer s2"></div>
    <div class="spacer s3"></div>
    <div class="spacer s4"></div>
    <div class="spacer s5"></div>
    <div id="animate1" class="box2">
      <p>A mudança e transição são o núcleo da condição humana.</p>
    </div>
    <div id="animate2" class="circle-arrow">
      <div class="left-arrow-line"></div>
      <div class="right-arrow-line"></div>
    </div>
    <div id="trigger1" class="spacer s6"></div>
    <div class="spacer s7"></div>
    <div class="spacer s8"></div>
    <div class="spacer s9"></div>
    <div class="spacer s10"></div>
</div>
